.btn-88 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-image: none;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  border: 5px solid;
  box-sizing: border-box;
  display: block;
  -webkit-mask-image: none;
  position: relative;
  text-transform: uppercase;
}
.btn-88:-moz-focusring {
  outline: auto;
}
.btn-88 svg {
  display: block;
  vertical-align: middle;
  fill: #000;
  position: relative;
  z-index: 1;
}
.btn-88 [hidden] {
  display: none;
}

.btn-88:hover svg {
  fill: #fff;
}
.btn-88:before {
  content: '';
  inset: 4px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: scale(1);
  transition: 0.5s;
}
.btn-88:hover:before {
  opacity: 0;
  transform: scale(4);
}
