.btn-66 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-image: none;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
}
.btn-66:-moz-focusring {
  outline: auto;
}
.btn-66 svg {
  display: block;
  vertical-align: middle;
}
.btn-66 [hidden] {
  display: none;
}
.btn-66 {
  --height: 40px;
  --progress: 0px;
  border: 2px solid #fff;
  border-radius: 999px;
  box-sizing: border-box;
  color: transparent;
  display: block;
  line-height: var(--height);
  overflow: hidden;
  position: relative;
  text-shadow:
    0 calc(var(--progress) * -1) #fff,
    0 calc(var(--height) - var(--progress)) wheat;
  text-transform: uppercase;
  transition: 0.2s;
}
.btn-66:hover {
  --progress: var(--height);
  border-color: wheat;
}
