.btn-1 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-image: none;
  border-radius: 99rem;
  border-width: 2px;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  text-transform: uppercase;
}

.btn-1:-moz-focusring {
  outline: auto;
}
.btn-1 svg {
  display: block;
  vertical-align: middle;
}
.btn-1 [hidden] {
  display: none;
}
